<!DOCTYPE HTML>
<html>
<head>
    <title>Shorten URL</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>
    <div style="width: 1000px; margin: 20px auto auto;">
        <h1 style="text-align: center">짧은 URL 만들기</h1>
        <div style="width:600px; margin: 0 auto;">
            <input type="text" name="url" id="url" style="width:500px;" placeholder="URL을 입력해주세요." />
            <button type="button" name="ok" style="border-radius: 8px;" onclick="shorten();">shorten</button>
            <div>• http, https 프로토콜을 명시해주시기 바랍니다.</div>
            <div style="width: 100%; height: 100px"></div>
            <div>
                Shorten URL : <span id="result"/>
            </div>
        </div>
        <script type="text/javascript">

            let url = document.getElementById('url');

            function shorten() {
                if (url.value == '') {
                    alert('URL을 입력해주세요');
                    url.focus();
                    return;
                }

                $.ajax({
                    type: 'POST',
                    url: 'shorten',
                    contentType: 'application/json',
                    headers: {
                        'Accept': 'application/json'
                    },
                    data: JSON.stringify({
                        'originUrl': url.value,
                    }),
                    dataType: 'json',
                    success: function(json) {
                        $("#result").empty();
                        $("#result").append('<a href="' + json.originPath.path + '" target="_blank">' + json.shortenPath.path + '</a>');
                    },
                    error: function(request, status, error) {
                        alert(request.responseJSON.message);
                        $("#url").val('');
                        $("#url").focus();
                    }
                });
            }
        </script>
    </div>
</body>
</html>